{% extends "base.html" %}
{% load i18n %}

{% block title %}<h1 class="my-4 text-center">{% trans "Users" %}</h1>{% endblock %}

{% block content %}

<div class="container text-center">

  <table class="table table-lg-responsive table-hover">
    <thead class="thead-light">
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
    </thead>
    
        {% if users %}
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'user_update' user.id %}">{% trans "Modify" %}</a>
                    <br>
                    <a href="{% url 'user_delete' user.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        
  </table>
</div>
{% endblock %}
