{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr class="table-info">
            <th>ID</th>
            <th>{% trans 'Username' %}</th>
            <th>{% trans 'Fullname' %}</th>
            <th>{% trans 'Created' %}</th>
            <th>{% trans 'Action' %}</th>
        </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.get_full_name }}</td>
                <td>{{ u.date_joined|date:"d.m.Y" }}</td>
                <td>
                    {% if u == user %}
                    [<a href="{{ user.id }}/update/">{% trans 'Edit' %}</a>]
                    [<a href="{{ user.id }}/delete/">{% trans 'Delete' %}</a>]
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}