{% extends "base.html" %}
{% load i18n %}
{% load bootstrap5 %}


{% block title %}<h1 class="my-4 text-center">{% trans "Login" %}</h1>{% endblock %}

{% block content %}

<div class="container max-width">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="form-group text-center">
        <input class="btn btn-primary" type="submit" value="{% trans 'Sign-in' %}">
        
      </div>
    </form>
</div>
    <style>
        .max-width {
          max-width: 700px;
        }
        .asteriskField {
            display: none;
        }
      </style>
{% endblock %}
