{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}<h1 class="my-4 text-center">{% trans 'Task view' %}</h1>{% endblock %}

{% block content %}
<div class="text-center">
    <div class="card text-center">
        <div class="card-header color-green">
            <h4 class="card-title ">{{ task.name }}</h4>
        </div>
        <div class="card-body">
            {% if task.description %}
            <h6 class="card-subtitle mb-2 text-muted">{{ task.description }}</h6>
            {% else %}
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            {% endif %}
            <div class="card-text">
                <div class="container">
                    <div class="row p-1">
                      <div class="col">{% trans 'Author' %}</div>
                      <div class="col">{{ task.author }}</div>
                    </div>
                    <div class="row p-1">
                      <div class="col">{% trans 'Executor' %}</div>
                      <div class="col">{{ task.executor }}</div>
                    </div>
                    <div class="row p-1">
                      <div class="col">{% trans 'Status' %}</div>
                      <div class="col">{{ task.status }}</div>
                    </div>
                    <div class="row p-1">
                      <div class="col">{% trans 'Creation date' %}</div>
                      <div class="col">{{ task.created_at }}</div>
                    </div>
                    <div class="row p-1">
                        <div class="col">
                            <h6>Метки:</h6>
                            <ul class="ul-inside">
                                {% if labels %}
                                    {% for label in labels %}
                                        <li>{{ label }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col"></div>
                    
                    </div>
                    
            <a href="{% url 'task_update' task.id %}" class="card-link">{% trans "Modify" %}</a>
            <a href="{% url 'task_delete' task.id %}" class="card-link">{% trans "Delete" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .max-width {
      max-width: 700px;
    }
    .asteriskField {
        display: none;
    }
    .color-green {
        background-color: rgb(140, 134, 128);
    }
    .ul-inside {
        list-style-position: inside;
    }
  </style>
{% endblock %}